@import '~antd/dist/antd.css';

.App {
  text-align: center;
  padding:3%;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 24px;
  margin: 10px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: .9em;
  text-transform: uppercase;
  color:333;
  padding-bottom:40px;
  font-weight:100;
}

.App-subtitle {
  font-size: .9em;
  padding: 0 40px;
  text-transform: none;
  margin: 0 auto;
  color:333;
  padding-bottom:60px;
  font-weight:100;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  display:block;
  margin-top:60px;
}
.footer {
  display: block;  
  margin-top: 100px;
  position: fixed;
  bottom: 20px;
  left:0;
  right:0;
  font-size: .8em;
}

/* Content */
.password {
  font-size: 2.9em;
  line-height: 1em;
  padding: 0 30px 10px;
  color: #000;
  font-weight: 600;
}

.name {
  font-size:1em;
  opacity: .8;
  padding-bottom:3px;
  color: #000;
  font-weight: 300;
}

.url {
  font-size:1em;
  padding-bottom:40px;
  color: #000;
  font-weight: 300;
}